annotated-types==0.7.0
asttokens==3.0.0
azure-common==1.1.28
azure-communication-email==1.0.0
azure-core==1.34.0
azure-mgmt-core==1.5.0
blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
dash==3.2.0
dash-bootstrap-components==2.0.4
debugpy==1.8.14
decorator==5.2.1
dnspython==2.7.0
dunamai==1.24.1
elastic-transport==8.17.1
elasticsearch==8.18.1
elasticsearch-dsl @ https://packagesakida.z6.web.core.windows.net/py/elasticsearch-dsl-py/elasticsearch_dsl-8.15.3.3-py3-none-any.whl#sha256=81b4c66f9c6f54321d164554db1ef31039afe618b30394ea6b729a38a377732e
email_validator==2.2.0
et_xmlfile==2.0.0
executing==2.2.0
Farama-Notifications==0.0.4
Flask==3.1.1
fonttools==4.58.0
fuzzywuzzy==0.18.0
-e git+https://github.com/ugo-nama-kun/gym_torcs.git@da5d6ddec3a35718fea89dc1c05037743173c668#egg=gym_torcs
gymnasium==1.1.1
haversine==2.9.0
idna==3.10
importlib_metadata==8.7.0
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.8
Levenshtein==0.25.1
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mongoengine==0.27.0
motor==3.5.3
msrest==0.7.1
narwhals==2.7.0
nest-asyncio==1.6.0
numpy==2.2.6
oauthlib==3.2.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pandas_flavor==0.7.0
parso==0.8.4
patsy==1.0.1
pillow==11.2.1
pingouin==0.5.5
-e git+ssh://git@bitbucket.org/akida_nl/pk-base.git@f88ae8d9b1c9914be03c36d9c1b7badfd01d7dc9#egg=pk_base
platformdirs==4.3.8
plotly==6.3.1
poetry-dynamic-versioning==1.8.2
prompt_toolkit==3.0.51
psutil==7.0.0
pure_eval==0.2.3
pydantic==2.11.5
pydantic-mongo==2.3.0
pydantic-settings==2.9.1
pydantic_core==2.33.2
pygame==2.6.1
Pygments==2.19.1
pymongo==4.8.0
pymongo-migrate==1.0.0
pyparsing==3.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
pywin32==310
pyzmq==26.4.0
RapidFuzz==3.13.0
requests==2.32.3
requests-oauthlib==2.0.0
retrying==1.4.2
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
setuptools==80.9.0
shapely==2.1.1
shortuuid==1.0.13
six==1.17.0
stack-data==0.6.3
statsmodels==0.14.5
tabulate==0.9.0
threadpoolctl==3.6.0
tomita==0.2.0
tomlkit==0.13.2
tornado==6.5.1
traitlets==5.14.3
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.13
Werkzeug==3.1.3
xarray==2025.10.0
zipp==3.23.0
zstandard==0.22.0
